# این مقادیر Secret مدیریتی محسوب نمی‌شوند اما نباید مستقیم در کد Hardcode شوند.
# مقدار واقعی را در فایل .env (که Commit نمی‌شود) قرار دهید.

VITE_NHOST_SUBDOMAIN=your-subdomain
VITE_NHOST_REGION=your-region
